body{
  margin: 0;
 
  background-image:url("https://www.humens.com/wp-content/uploads/2022/08/image-pancakes-scaled.jpeg");
  background-attachment: fixed;
 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.card{
  width: 300px;
  height:400px;
  background-color: gray;
  height: min-content;
  position:relative;
  left:0px;
  transition: transform 450ms;
  
}
.card:hover{
  transform: scale(1.08);
}
.img{
  width: 300px;
  height:300px;
  object-fit: cover;
  cursor:pointer;
}
.detail{
  color:rgb(130, 83, 175);
 padding-left: 10px;
 padding-right: 10px;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 20px;
 
}
.de{
margin-top: 5px;
margin-bottom: 15px;
}
.count{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page{
  margin-top: 10px;
  margin-bottom:20px ;

}
.page1{
  margin-top: 10px;
  margin-bottom:20px ;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
gap:5px;
justify-items: center;
}
.img1{
  border-radius: 100px;
  width: 100px;
  height: 60px;
  position: relative;
right: 25px;
top:5px;
 object-fit:cover;
 /* display: flex;
 align-items: center; */
}

.list{
  display: grid;
  /* RAM method (repeat auto-fit minmax() )*/
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:5px;
  justify-items: center;
}
.list1{
  display: grid;
  /* RAM method (repeat auto-fit minmax() )*/
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:5px;
  justify-items: center;
}
.title{
  color: rgb(141, 39, 39);
  margin-top: 0;
  margin-bottom:20px;
}
.name{
  margin-top: 5px;
margin-bottom: 15px;

font-size: 23px;
}
.name:hover{
  color: rgb(217, 8, 245);
}
.Link{
  text-decoration: none;
}
.details{
  color:white;

  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap:15px;
  margin:50px auto;
}
.detailimg{
  width: 100%;

}
.span1{
  color:#ff7f50;
  display: block;
  font-size: 30px;
}
.span{
font-size: 30px;
  color:#ff7f50;
}
.formfield{
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap:15px;
  margin:0 auto;
}
.select{
  height:50px;
}
.recipetitle{
  font-size: 50px;
  margin: 0px;
  color:#d604ea;
}
.disc{
  font-size: 30px;
  color:#ff7f50;
  margin-bottom: 0px;
}
.disc1{
  margin-top: 0px;
  font-size: 23px;
}
.cuisin{
  color:chocolate;
  font-size: 30px;
}
.rate{
  font-size: 20px;
  
}
.search{
  display: flex;
  justify-items: center;
 
  height: 50px;
}
.App{
  margin-top: 20px;
}
.restitle{
  margin: 0px;
  font-size: 20px;
}
.inputsize{
  width:620px;
  padding:10px;
}
.total{
  font-size: 25px;
  color:crimson
}
.flag{
  width:100%;
  height:600px;
  
}
.flag1{
 
  margin: 0px;
  background-color: #2d99ae;
  color:#001c44;
  height:100px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 60px;

}
.direct{
  font-size: 23px;
  color: rgb(245, 9, 158);
  
}
.direct1{
  font-size: 22px;
 
  
}
.btn{
  position: relative;
  top:90px;
}
.btns{
  position: relative;
  
}
.btn1{
  position: relative;
  left:160px;
}
.inputsearch{
  position: absolute;
  width: 50%;
  
  top: 2%;
  left:6.5%;
  
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
.dish{
  width:100%;
  height:600px;
  object-fit:cover;
}
.menuicon:hover{
  background-color: #b268b9;
}
.menuicon:active{
  background-color: #2e0532;
  color:white;
}
.name1{
  margin-top: 5px;
margin-bottom: 15px;

font-size: 23px;
display: flex;
justify-content: center;
}
.name1:hover{
  color: rgb(217, 8, 245);
}
.cuisines{
  display: grid;
  /* RAM method (repeat auto-fit minmax() )*/
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:15px;
  justify-items: center;
}
.side{
  border:1px solid #2e0532;
  border-radius:20px;
  background-color: aqua;
  color: #2e0532;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
}
.notfount{
  width:100%;
  height:800px;

  
}
.about{
  width: 100%;
  height:700px;
  object-fit: cover;
}
/* .us{
  position: absolute;
  bottom:30%;
  background-color:whitesmoke ;
  font-size: 70px;
  
} */
.anime {
  width: 400px;
  height: 94px;
  background: #263f64;
 
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;

  position: absolute;
  bottom:30%;
  right:70%;
  color:whitesmoke ;
  font-size: 30px;
}

.anime h1 {
  z-index: 1;
  color: #fff;
  font-size: 1em;
}

.anime::before {
  content: '';
  position: absolute;
  width: 500px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.1s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.anime::after {
  content: '';
  position: absolute;
  background: #1c1f52;
  inset: 5px;
  border-radius: 15px;
} 
.bt:hover{
  background-color: #ea4104;
}
.signup{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0px auto;
 
}
.sign{
  background-color: #e4f805;
  color: #2e0532;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 70px;
  border-radius: 10px;
  font-size: 25px;
}
.sign1{
  display: flex;
  justify-content: center;
 margin-top: 0px;
 margin-bottom: 0px;
}
.product{
  display: flex;
  justify-content: center;
 ;
 align-items: center;
 background-color: #2d99ae;
 height: 100px;
 border-radius: 20px;
}
.login{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap:20px;
  margin: 100px auto;
}
.all{
  display: grid;
  /* RAM method (repeat auto-fit minmax() )*/
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:15px;
  justify-items: center;
}
.for{
  color:rgb(167, 73, 73);
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
   position: relative;
bottom:80px;

}
.abouts{
  color:rgb(8, 8, 8);
}
.ang{
  text-decoration: none;
  color: rgb(18, 7, 221);
}
.ang1{
  text-decoration: none;
  color: rgb(8, 8, 8);
}

.homesrc{
  width: 100%;
}
.homebtn{
  
  position: absolute;
  bottom: 3%;
  left:8%;
}
.hbtns{
height: 70px;
  width: 300px;
 font-weight: 500;
}
.homecard{
  display: grid;
  /* RAM method (repeat auto-fit minmax() )*/
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:15px;
  justify-items: center;
}
.homename{
  display: flex;
  justify-content: center;
  font-size: 50px;
  
}
.target{
  display: flex;
 justify-content:center;
}
.homebtns{
  height: 80px;
  margin-top:90px ;
}
.ang1{
  text-decoration: none;
}
.sea{
  position: absolute;
  bottom:2%;
}
@media only screen and (min-width: 400px) and (max-width: 1500px) {
  
    .homebtn{
      position:relative;
   bottom: 50px;
    }
    .hbtns{
      height: 40px;
        width: 100px;
      }
}
@media only screen and (min-width: 400px) and (max-width: 1000px) {
  .flag1 {
    font-size: 30px;
  }
}
.addbtn{
  width: 100%;
}
.sigbtn{
  width: 500px;
}

.mn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}